$scrollbar-width: 7px;
$scrollbar-thumb: #7e7e7e;
$scrollbar-track: mix($scrollbar-thumb, white,  30%);
$scrollbar-border-radius: 8px;

:root[data-theme="theme-light"] {
  --primary-color: #0072a3;
  --text-color: #000000;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --border: #ddd;
  --sidebar-bg-color: #dbdbdb;
  --btn-hover: rgb(156, 156, 156);
}

:root[data-theme="theme-dark"] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --bg-color: #2f4b5a;
  --component-bg-color: #22343c;
  --border: #17252c;
  --sidebar-bg-color: #243944;
  --btn-hover: #3f6174;
}
