.tabs {
  @include scrollbars($scrollbar-width, $scrollbar-thumb, $scrollbar-track, $scrollbar-border-radius);
  display: flex;
  overflow-x: auto;
  margin-right: 15px;

  .tab {
    position: relative;
    display: flex;
    padding: 5px 10px;
    background-color: var(--sidebar-bg-color);
    padding-right: 20px;

    &::after {
      content: "";
      position: absolute;
      height: 20px;
      width: 1px;
      background-color: var(--sidebar-bg-color);
      right: -1px;
    }

    &:hover {
      cursor: pointer;
      button {
        visibility: visible;
      }
    }

    &.active {
      background-color: var(--bg-color);

      button {
        color: var(--text-color);
        background-color: var(--bg-color);
      }
    }

    button {
      margin-left: 10px;
      height: 20px;
      width: 20px;
      background-color: var(--sidebar-bg-color);
      border: none;
      border-radius: 10px;
      visibility: hidden;
      outline: none;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        background-color: var(--btn-hover);
      }
    }
  }
}