@import '~@/assets/scss/utilities/mixins';
@import '~@/assets/scss/utilities/variables';

.sidebar {
  @include scrollbars($scrollbar-width, $scrollbar-thumb, $scrollbar-track, $scrollbar-border-radius);
  display: flex;
  justify-content: space-between;
  background-color: var(--sidebar-bg-color);
  border: 1px solid var(--border);

  & .sidebarContent {
    @include scrollbars($scrollbar-width, $scrollbar-thumb, $scrollbar-track, $scrollbar-border-radius);
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & div:last-of-type {
      margin-top: auto;
    }

    & .footer {
      border-top: 1px solid black;
    }
  }
}

.sidebarTitle {
  font-size: 12px;
  padding: 10px 10px 2px;
}

.resize {
  &-x {
    cursor: ew-resize;
    height: 100%;
    width: 5px;
  }
}