.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &>div {
    overflow-y: auto;
  }

  .top {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    
    .middle {
      @include scrollbars($scrollbar-width, $scrollbar-thumb, $scrollbar-track, $scrollbar-border-radius);
      overflow-x: auto;
      width: 100%;
      background-color: var(--bg-color);
      border: 1px solid var(--border);
    }
  }

  .bottom {
    @include scrollbars($scrollbar-width, $scrollbar-thumb, $scrollbar-track, $scrollbar-border-radius);
    height: 30vh;
    background-color: var(--bg-color);
  }
}

.sidebarTitle {
  font-size: 12px;
  padding: 10px 10px 2px;
}